*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins, sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0d6efd,#4facfe);
}

.container{
width:100%;
display:flex;
justify-content:center;
}

.box{
background:white;
padding:40px;
width:360px;
border-radius:20px;
box-shadow:0 20px 50px rgba(0,0,0,0.2);
text-align:center;
}

h2{
color:#0d6efd;
margin-bottom:10px;
}

p{
font-size:14px;
color:#64748b;
margin-bottom:20px;
}

.input-box{
position:relative;
margin-bottom:20px;
}

.input-box i{
position:absolute;
left:12px;
top:50%;
transform:translateY(-50%);
color:#0d6efd;
}

.input-box input{
width:100%;
padding:12px 12px 12px 40px;
border-radius:10px;
border:1px solid #ddd;
outline:none;
}

button{
width:100%;
padding:12px;
border:none;
border-radius:10px;
background:linear-gradient(135deg,#0d6efd,#4facfe);
color:white;
font-weight:600;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:translateY(-3px);
}

.links{
margin-top:15px;
}

.links a{
text-decoration:none;
color:#0d6efd;
font-size:14px;
}